.inputNavLink {
  margin: 0 0 0 20px;
  color: mintcream;
  border-radius: 7.5%;
  min-width: 40vw;
  min-height: 75px;
  padding: 5px 0 0 0;
  font-size: 40px;
  font-weight: 300;
  border: none;
  letter-spacing: 3px;
  box-shadow: 0px 1px 12.5px 2px black;
}

.inputNavLink a {
  text-align: center;
  padding: 0;
}

.pointNavLink {
  margin: 0 0 0 20px;
  color: mintcream;
  border-radius: 7.5%;
  min-width: 40vw;
  min-height: 75px;
  padding: 5px 0 0 0;
  font-size: 40px;
  font-weight: 300;
  border: none;
  letter-spacing: 3px;
  box-shadow: 0px 1px 12.5px 2px black;
}

.pointNavLink a {
  text-align: center;
  padding: 0;
}

.inventoryProductLabelCntr {
  background: linear-gradient(105deg, #69768A 12.5%, #D1CDD8 85%, #69768A 98% );
}

.inventoryProductLabelCntr label{
  font-weight: 700;
}

.emailModal {
  position: fixed;
  top: 40vh;
  min-width: 90vw;
}

.emailModal .close {
  display: none;
}

.emailModal .modal-header {
  padding: 10px 0 0 160px;
}

.emailModal .modal-header .modal-title {
  font-weight: 300;
  font-size: 28px;
  color: mintcream;
}

.emailModal .modal-content {
  background-color: lightslategray;
}

.emailModal .modal-title {
  font-weight: 700;
  font-family: "Segoe UI", sans-serif
}

.emailModal .modal-body {
}

.emailModal .modal-body input{
  font-size: 22px;
  letter-spacing: 1.15px;
}

.emailModal .modal-body .emailAddressInput{
  min-height: 50px;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 0 20px;
  color: midnightblue;
  letter-spacing: 2px;
}

.emailModal .modal-footer {

}

.emailModal .modal-footer button{
  min-width: 130px;
  font-size:  24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.inventoryInfoLabelCntr label{
  margin: 0 15px 0 35px;
  padding: 10px 0px 10px 5px;
  font-size: 16px;
  font-weight: 300;
  min-height: 60px;
  min-width: 140px;
  max-width: 185px;
  letter-spacing: 2px;
  color: mintcream;
  line-height: 1.2;
}

.inventoryInfoLabelCntr input{
  margin: 0 15px 0 35px;
  padding: 10px 0px 10px 5px;
  font-size: 20px;
  font-weight: 700;
  min-height: 50px;
  min-width: 80px;
  max-width: 140px;
  letter-spacing: 2px;
}

.form-control {
  margin: 10px 0 0 0;
  padding: 2px 0px 2px 10px;
}



.pointSheetNav {
  position: fixed;
  padding: 30px 0 20px 0;
  background-color: lightslategrey;
  z-index: 10000;
  margin: 0 0 0 0;
  box-shadow: 0px 0px 20px 2.5px;
}

.pointSheetNav .nav .nav-tabs {
  border: none;
}

.pointSheetNav .nav-item button {
  min-width: 100%;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 300;
  padding: 4px 3px;
}

.saveNavItem {
  min-width: 75px;
  margin: 2.5vh 0 2.5vh 2.5vw;
}

.saveNavItem button {
  border-radius: 15%;
  border: 0px;
  box-shadow: 1px 1px 3px 1px black;
}

.deleteNavItem {
  min-width: 75px;
  margin: 2.5vh 0 2.5vh 20px;
}

.deleteNavItem button {
  border-radius: 15%;
  border: 0px;
  box-shadow: 1px 1px 3px 1px black;
}

.submitNavItem {
  min-width: 75px;
  margin: 2.5vh 0 2.5vh 2.5vw;
}

.submitNavItem button{
  border-radius: 15%;
  border: 0px;
  box-shadow: 1px 1px 3px 1px black;
}

.homeNavItem {
  min-width: 75px;
  margin: 2.5vh 0 2.5vh 2.5vw;

}

.homeNavItem button{
  border-radius: 15%;
  border: 0px;
  box-shadow: 1px 1px 3px 1px black;
}

.inputForm {
  margin: 250px 0 0 0;
}

.inputForm .form-group {
  min-height: 60px;
  background: linear-gradient(105deg, #69768A 12.5%, #D1CDD8 85%, #69768A 98% );
  box-shadow: 0 3px 10px 1px;
}

.inputForm .form-group .row {
  min-height: 60px;
  max-height: auto
}

.inventoryForm {
  padding: 150px 0 0 0;
}

.inventoryForm {

}

.pointSheetContainer {
  padding: 0;
  margin: 170px 0 0 0;
}

.pointSheetContainer form label {
  font-size: 16px;
  min-width: 185px;
  color: mintcream;
  letter-spacing: 1.15px;
  font-weight: 300;
  float: left;
  min-height: 100%;
  max-width: 45vw;
  margin: 0;
  padding: 10px 10vw 0 45px
}

.pointSheetContainer form input {
  min-width: 20vw;
  max-width: 40vw;
  margin: 0 0 0vw;
  font-size: 16px;
  min-height: 30px;
}

.productInventoryIssuedColumn {
    min-width: 50vw;
    margin: 0 0 0 45vw;
    min-height: 10vh;
}

.productInventoryReturnedColumn {
    min-width: 50vw;
    margin: 0 0 0 45vw;
    min-height: 10vh;
}

.searchFltCntr  {
  min-width: 100vw;
  min-height: 80px;
  position: fixed !important;
  background: white;
  z-index: 10000;
  top: 175px;
  box-shadow: 0 5px 10px 1.5px;
  background: linear-gradient(105deg, #69768A 12.5%, #D1CDD8 85%, #69768A 98% );
}

.searchFltCntr input {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.35px;
}

.searchFltLabel {
  font-size: 24px;
  padding: 0 0 0 0;
  margin: 0;
}
